<div class="jumbotron">
	<h3>Thanks for visiting. Sign up to get my essays:</h3>
	<div class="input-group"><input type="text" class="form-control" placeholder="Email - don't worry I will never spam you" aria-describedby="basic-addon1">
	</div>
	
</div>
