<div class="jumbotron">
	<% if user_signed_in? %>
	<h2>Welcome back!</h2>
	<% else %>
	<h3>Thanks for visiting. </h3>
	<%= link_to "login", new_user_session_path, class: "btn btn-default btn-lg" %>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default btn-lg" %></h3>
	<% end %>
</div>
